html,body{
    height: 100%;
    max-width: 1080px !important;
    margin: 0 auto !important;
}
.btn-padded{
    padding: 10px 30px;
}

.content{
    margin-top: 20px;
    padding-bottom: 40px;
}


.gapped-form{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.text-fit{
    max-width: 30%;
    width: 30%;
    word-wrap: break-word;
}

.navbar-brand{
    margin-left: 30px;
}

@media screen and (max-width: 624px){
    .navbar-brand{
        display: none;
    }
}